html, body {
  height: 100%;
  background: #222;
}

.block {
  width: 40%;
  margin: 20px 2.5%;
  padding: 20px;
  float: left;
  height: 87.5%;
  background: gray;
  border: 2px solid #272727;
  color: #efefef;
  font-family: monospace;
  font-size: 24px;
  background: #111;
}

.half {
  height: 40%;
}

.error {
  color: red;
}
